@media screen and (max-width: 1340px){
    .container{
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .hobbies__content{
        padding-left: 40px;
        padding-right: 40px;
    }
    .hobbies__img img{
        max-width: 100%;
        object-fit: cover;
    }

    .hobbies__item{
        width: 100%;
    }
    .hobbies__img{
        height: auto;
    }

}
@media screen and (max-width: 1100px){
    .activity__left{
        width: 400px;
    }
    .activity__img img{
        max-width: 100%;
    }
    .activity__right{
        width: calc(100% - 450px);
    }
    .activity__img:last-child {
        margin-top: 380px;
    }
    .banner__left{
        width: 450px;

    }
    .banner__right{
        width: calc(100% - 500px);
    }

    .banner__left img{
        max-width: 100%;
    }
    .banner .section__title{
        font-size: 40px;
    }
    .banner__text{
        font-size: 16px;
    }
    .activity__block{
        padding-left: 40px;
        padding-right: 40px;
    }

    .education__info{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .education__item{
        overflow: hidden;
    }

    .education__text{
        font-size: 14px;
    }
    .education__title{
        font-size: 18px;
    }
    .education__img{
        width: 180px;
    }
    .education__img img{
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    .education__info{
        width: calc(100% - 180px);
    }
    .slogan__left{
        width: 500px;
    }
    .slogan__right{
        width: calc(100% - 500px);
        padding-right: 40px;
    }
    .slogan__right .section__title{
        font-size: 36px;
    }
    .slogan__left img{
        width: 100%;
    }
    .news__img{
        height: auto;
        min-height: 170px;
    }
}
@media screen and (max-width: 1024px){
    .hobbies__title{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hobbies__text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .hobbies__item{
        height: auto;
        padding-bottom: 20px;
    }
    .education{
        margin-top: 50px;
    }
    .gallery{
        margin-top: 50px;
    }
    .gallery__slider{
        margin-bottom: 50px;
    }
    .news{
        margin-top: 50px;
    }
    .logos{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .activity{
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .footer__title, .footer__title a{
        font-size: 30px;
    }
    .news__content{
        flex-direction: column;
    }
    .news__left{
        width: 100%;

    }
    .news__right{
        width: 100%;
    }
}
@media screen and (max-width: 990px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .news__text{
        padding-right: 20px;
        -webkit-line-clamp: 3;
    }

}
@media screen and (max-width: 900px) {
    .banner__left{
        width: 400px;
    }
    .banner__content{
        gap: 20px;
    }
    .banner__right {
        width: calc(100% - 420px);
    }
    .section__sub{
        font-size: 20px;
    }
    .banner .section__title {
        font-size: 30px;
    }
    .banner__info{
        font-size: 16px;

    }
    .section__title{
        font-size: 30px;
    }
    .activity__left{
        width: 300px;
    }
    .activity__right {
        width: calc(100% - 330px);
    }
    .activity__block{
        gap: 0  30px;
    }
    .activity__right li{
        padding-bottom: 20px;

    }
    .hobbies__title{
        font-size: 18px;
    }
    .hobbies__img{
        margin-bottom: 15px;
    }
    .hobbies__text{
        font-size: 14px;
    }
    .hobbies__content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .education__content .education__title{
        margin-bottom: 20px;
    }
    .education__list{
        flex-direction: column;
    }
    .education__item{
        width: 100%;
    }
    .education__img{
        width: 250px;
    }
    .slogan__left{
        width: 400px;
    }
    .slogan__right{
        width: calc(100% - 400px);
    }
    .slogan__right .section__title {
        font-size: 30px;
    }
    .slogan__right p{
        font-size: 16px;
    }
    .slogan__content{
        min-height: 330px;
        height: auto;
    }
    .news__list{
        gap: 15px;
    }
}
@media screen and (max-width: 768px){
    .banner__content{
        flex-direction: column;
    }
    .banner__right{
        width: 100%;
    }
    .banner__left img{
        height: 350px;
    }
    .banner__left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .activity__left{
        width: 200px;
    }
    .activity__right{
        width: calc(100% - 230px);
    }
    .activity__right li{
        font-size: 14px;
    }
    .hobbies__content .section__title{
        margin-bottom: 20px;
    }
    .hobbies__list{
        flex-direction: column;
        align-items: center;

    }
    .hobbies__item{
        max-width: 400px;
    }
    .gallery__slider .swiper-slide{
        height: 200px;
    }
    .slogan__content{
        flex-direction: column;
        gap: 20px;
    }
    .slogan__left img{
        position: relative;
        height: 300px;
        max-width: 100%;
        width: auto;
    }
    .slogan__left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .slogan__right{
        width: 100%;
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .slogan__right p{
        max-width: 100%;
    }
    .news__list{
        flex-wrap: wrap;
    }
    .video{
        width: 100%;
        height: auto;
    }
    .video img{
        max-width: 100%;
    }
    .logo__desc p{
        font-size: 10px;
        width: 100px;
    }
    .news-page .news__item{
        width: calc(100% / 2 - 10px);
    }
    .news-page{
        margin-bottom: 50px;
    }
    .news__gallery--list img {
        max-width: 100%;
        width: calc(100% / 2 - 10px);
    }
    .news__right .news__list{
        flex-direction: row;
    }
}
@media screen and (max-width: 600px) {
    .news__left .section__title{
        font-size: 28px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .news__gallery--list{
        padding-left: 20px;
        padding-right: 20px;

    }
    .news__gallery--list img{
        width: calc(100% / 2 - 30px);
    }
    .news__left p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .activity__left{
        display: none;
    }
    .activity__right{
        width: 100%;
    }
    .section__title{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .logo:first-child{
        padding-right: 15px;
    }
    .logo:last-child{
        padding-left: 15px;
    }
    .header__block{
        flex-direction: column;
        gap: 20px;
    }
    header{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__content > div{
        flex-direction: column;
        gap: 20px;
    }
    .footer__content > div .footer__text{
        font-size: 14px;
    }
    .footer__text {
        font-size: 14px;
    }
    .logo__desc p{
        display: none;
    }
    .news-page .news__item{
        width: 100%;
    }
    .footer__title, .footer__title a{
        font-size: 18px;
    }
    .news__title{
        padding-left: 15px;
    }
    .news__text{
        padding-left: 15px;
    }
    .news__date{
        padding-left: 15px;
    }
    .news__banner{
        height: 200px;
    }
    .news__gallery--list{
        flex-direction: column;
    }
    .news__gallery--list img{
        width: 100%;
    }
}